body {
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.quiz {
    padding-top: 50px;
    margin: auto;
    width: 50%;
    text-align: center;
}

.time {
    float: right;
}


.question-btn {
    color: white;
    background-color: #470aad;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 5px;
    text-align: start;
    text-indent: 5px;
}

#start-quiz-btn {
    color: white;
    background-color: #470aad;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 0px;  
}

#high-score-btn {
    color: #DF00FE;
    background-color: white;
    border: none;
}